%h2
  Indtast venligst tilmeldingskode

%p
  Inden du kan se og uploade billeder, bedes du indtaste din
  tilmeldingskode nedenunder. Har du ikke din tilmeldingskode ved dig,
  kan du indtaste dit telefonnummer nedenunder og få tilmeldingskoden
  tilsendt.

%div{'data-role' => 'fieldcontain' }
  %label.ui-hide-label{for: 'invitation[act_code]'}
    Tilmeldingskode
  %input{type: 'text', name: 'invitation[act_code]', id: 'invitation_act_code',
         placeholder: 'Tilmeldingskode'}
  %button{value: 'Brug denne kode', id: 'use_this_code_button'}
%hr
  
%div{'data-role' => 'fieldcontain' }
  %label.ui-hide-label{for: 'send_activation_code[phone_number]'}
    Telefonnummer
  %input{type: 'tel', name: 'send_activation_code[phone_number]',
         id: 'send_activation_code_phone_number',
         placeholder: 'Telefonnummer'}
  %button{value: 'Send tilmeldingskode', id: 'send_act_code'}
  .number_not_found.blue
    Vi kunne desværre ikke genkende dit nummer. Hvis du mener det er
    rigtigt, kand du
    %a{href: '#type_name_and_phonenumber'}
      indtaste dine oplysninger
    og så vil vi få dig ind i systemet.
  .number_found_sms_sent.green
    Tilmeldingskoden er nu afsendt. Den kommer i løbet af et par minutter.
    
