= render 'corners'

.monogram-div
  .monogram
    %img{src: 'css/monogram.png'}
  
%p
  Velkommen til vores bryllupsapp!

%p
  Den indeholder lidt praktisk information omkring vores bryllup
  d. 23. november 2013 og den super seje billedefunktion, hvor du
  direkte via denne APP, kan se og uploade billeder fra brylluppet.

%p  
  På vores
  %a.external_link{rel: 'http://www.lineogjakob.dk', ref: 'external', href: '#'}= "bryllupsside"
  kan du se information omkring brylluppet og flere billedfunktioner (kommentarer). 

.clear
 
%p
  %em
    Vi ses d. 23. november

.couple-background
  %em
    Vi glæder os
  %p
    %img.line_and_jakob{src: 'css/line_jakob.png'}


