= render 'corners'

.monogram-div
  .monogram
    %img{src: 'css/monogram.png'}

%h2
  Praktisk info

%h3
  Billeder
%p
  
  De billeder du tager med denne App, bliver automatisk uploadet til
  lineogjakob.dk, hvor de kun vil være tilgængelige for andre gæster
  (dvs. personer med en tilmeldingskode). Derudover bliver billederne
  tilgængelige for gæster som ligeledes har downloadet denne app.
  Vil du gerne logge ind med en anden tilmeldingskode, så tryk
  %a{href: '#act_code_form'}
    her.
  
%h3
  Vielsen
%p
  Lørdag den 23. november 2013 
%p
  Skt. Johannes Kirke
  %br/
  Skt. Johannes Allé 1
  %br/
  8000 Aarhus C
  %br/
  Aarhus kl. 14.00

%h3
  Receptionen
%p
  Tivoli Friheden,
  %br/
  Hermans Foyeren med indgang til Restuarant Terrassen.
  %br/
  Skovbrynet 5
  %br/
  8000 Århus C
  Kl. 15:00 til 17:00.
  
%h3
  Festen
%p
  Tivoli Friheden,
  %br/
  Restuarant Terrassen.
  %br/
  Skovbrynet 5
  %br/
  8000 Århus C
  %br/
  Kl. 17:30 går vi til bords og festen slutter kl. 04.

%h3
  Toastmaster
%p  
  Aftenens toastmaster er gommens bror, Jesper Grauenkjær, som kan
  nåes på telefonnummer 23 23 95 16. Han er også tilstede under hele brylluppet.


%p
  Yderligere information kan findes på vores 
  %a.external_link{href: '#', rel: 'http://www.lineogjakob.dk/', ref: 'external'}
    bryllupshjemmeside
