%script{type: 'text/javascript', src: 'js/jquery-2.0.3.min.js'}
:javascript
  var dd = $.Deferred();
  var jqd = $.Deferred();
  $.when(dd, jqd).done(doInit);
  
  $(document).bind('mobileinit', function () {
    jqd.resolve();
  });
%script{type: 'text/javascript',
        src: 'http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.js'}
  -#%script{type: 'text/javascript', src: 'js/scaffolding.js'}
    %script{type: 'text/javascript', src: 'js/index.js'}
%script{type: 'text/javascript', src: 'phonegap.js'}
:javascript
  document.addEventListener('deviceready', deviceReady, false);
  function deviceReady() {
    dd.resolve();
  }
  function doInit() {
    alert('Ready');
  }
  //window.app.initialize();
