-# links = [['Forside', 'index.html', 'a'], ['Billeder', 'pictures.html', 'b'],
-#  ['Praktisk Info', 'info.html', 'c']  ]
- links = [['Forside', '#index', 'a'], ['Billeder', '#pictures', 'b'],
  ['Praktisk Info', '#info', 'c']  ]

-# 33% grid
.ui-grid-b
  - links.each do |text, link, grid_class|
    - div_class = "ui-block-#{grid_class}"
    %div{class: div_class}
      %a{ href: link}
        = text

