-# links = [['Forside', 'index.html', 'a'], ['Billeder', 'pictures.html', 'b'],
-#  ['Praktisk Info', 'info.html', 'c']  ]
- links = [['Forside', '#index', 'a', 'Forside.png'],
  ['Billeder', '#pictures', 'b', 'Billeder.png'],
  ['Praktisk Info', '#info', 'c', 'PraktiskInfo.png'] ]
%div{:'data-role' => 'footer', :'data-position' => 'fixed', :"data-theme" => "c"}
  %div{:'data-role' => 'navbar'}
    -# 33% grid
    %ul{class: 'navigation'}
      - links.each do |text, link, grid_class, img|
        %li
          %a{href: link, :"data-icon" => "ljbryl-#{grid_class}"}
            = text



