%p
  For at kunne se og uploade billeder skal du indtaste din
  tilmeldingskode, som du kan gøre på denne side
  %a{href: '#act_code_form'}
    Indtast tilmeldingskode

%ul.gallery{id: 'Gallery'}

#picture_loading
  %center
    %em
      = '.....'
  
#picture_end
  %center
    %em
      Ikke flere billeder (desværre). :-)
