-#<!DOCTYPE html>
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
%html
  %head
    %title
      Line & Jakobs bryllups app.
    %meta{charset: "utf-8"}
    %meta{name: "format-detection", content: "telephone=no"}
    %meta{name: "viewport", content: "user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"}
    %link{rel: "stylesheet", type: "text/css", href: "css/index.css"}
  %body
    .app
      .page
        %h1
          Line og Jakobs bryllupsapp
        #deviceready.blink
          %p.event.listening
            Connecting to Device
          %p.event.received
            Device is Ready. Now we roll.
      .page
        %h1
          Praktisk information
        %p
          Vi skal være her.
    %ul.navigation
      %li
        %a{:'data-show' => 0, href: '#'}
          Forside
      %li
        %a{:'data-show' => 1, href: '#'}
          Billeder
      %li
        %a{:'data-show' => 1, href: '#'}
          Ønskeseddel          
      %li
        %a{:'data-show' => 1, href: '#'}
          Praktisk info

  %script{type: 'text/javascript', src: 'js/jquery-2.0.3.min.js'} 
  %script{type: 'text/javascript', src: 'js/scaffolding.js'}     
  %script{type: 'text/javascript', src: 'js/index.js'}      
  %script{type: 'text/javascript', src: 'phonegap.js'}
  :javascript
    window.app.initialize();
    
