/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body, .ui-mobile-viewport {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-image: url("Baggrund.jpg");
  background-repeat: repeat-y;
  background-position: center center;
  background-attachment: scroll;
  background-size: 100% 100%;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%; }

.ui-page {
  background: transparent; }

.ui-content {
  background: transparent; }

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center; }

@keyframes fade {
  from {
    opacity: 1.0; }

  50% {
    opacity: 0.4; }

  to {
    opacity: 1.0; } }

@-webkit-keyframes fade {
  from {
    opacity: 1.0; }

  50% {
    opacity: 0.4; }

  to {
    opacity: 1.0; } }

.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite; }

.app .page {
  display: none; }
  .app .page:first-child {
    display: block; }

.navigation .ui-icon {
  background-size: 18px 18px; }
.navigation .ui-icon-ljbryl-a {
  background-image: url("Forside.png"); }
.navigation .ui-icon-ljbryl-b {
  background-image: url("Billeder.png"); }
.navigation .ui-icon-ljbryl-c {
  background-image: url("PraktiskInfo.png"); }

.picture_buttons .ui-btn .ui-btn-inner {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }
.picture_buttons .ui-btn .ui-icon {
  width: 30px !important;
  height: 30px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important; }

#take_picture_button .ui-icon {
  margin-top: -15px;
  background: url("Tag-billede.png") 50% 50% no-repeat;
  background-size: 30px 19px; }

#upload_picture_button .ui-icon {
  margin-top: -12px;
  background: url("Upload-nyt-billede.png") 50% 50% no-repeat;
  background-size: 30px 30px; }

/** Status bar for upload. **/
.status_bar {
  list-style-type: none;
  margin: 0px; }

.pictures_frame {
  width: 100%;
  height: calc(100% - (60px + 36px));
  border: none; }

#pictures .ui-content {
  padding: 0px; }

#picture_loading {
  margin-bottom: 30px; }

#picture_end {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none; }
